body,html {
  font-family: 'Poppins', sans-serif !important;
}

.heading-1 {
  font-weight: 400;
  color: hsl(234, 12%, 34%);
}

.heading-2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.heading-3 {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

div .border-cyan {
  --bs-border-opacity: 1;
  border-color: hsl(180, 62%, 55%) !important;
}

div .border-blue {
  --bs-border-opacity: 1;
  border-color: hsl(212, 86%, 64%) !important;
}

div .border-red{
  --bs-border-opacity: 1;
  border-color: hsl(0, 78%, 62%) !important;
}

div .border-orange {
  --bs-border-opacity: 1;
  border-color: hsl(34, 97%, 64%) !important;
}

.center-text {
  text-align: center;
}

/*.test-css {*/
/*  border-color: blue;*/
/*  border-radius: 5px;*/
/*  border-style: solid;*/
/*}*/

.card-container {

}

.card-contents {
  height: 50%;
  padding: 10%;
}